body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(151, 151, 151, 0.137);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 200;
}

.navbar .logo {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Brigends Expanded';
  src: url('brigends.ttf') format('truetype');
  color: white;
  text-decoration: none;
  padding-right: 3rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links button {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 12px 20px;
  background: transparent;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: inherit;
  cursor: pointer;
}

.nav-links button:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateY(-1px);
  color: white;
}